.domoswap__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;

}

.domoswap__navbar-links{
    flex : 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}





.domoswap__navbar-links__logo {
    margin-right: 20rem;
}


.domoswap__navbar-links__logo img{
   width: 98.14px;
   height: 45px;
   margin-top: 10px;
   margin-right: 2rem;
}

.domoswap__navbar-links__container{
    display: flex;
    flex-direction: row;
}

.domoswap__navbar-sign{
    display: flex;
    flex-direction: row;
}

.domoswap__navbar-links__container p,
.domoswap__navbar-sign p
{
    padding-top: 0.5rem;
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    margin: 0 1rem;
    cursor: pointer;
}



.domoswap__navbar-search button {
    margin-right: 10rem;
}

.domoswap__navbar-input{
 font-family: var(--font-family);
 color: var(--color-text);
 font-weight: 700;
 font-size: 18px;
 width: 300px;
}